<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751099778691-g6f2ni2d1ipoh4e5knt3hjvrrg09gc9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751099778691-g6f2ni2d1ipoh4e5knt3hjvrrg09gc9h</string>
	<key>API_KEY</key>
	<string>AIzaSyCAWHSF4VLoc6xllc6tKOqkMIeNB-BGOvA</string>
	<key>GCM_SENDER_ID</key>
	<string>751099778691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nfl56.flutterQrcodeGetxProject</string>
	<key>PROJECT_ID</key>
	<string>qrcode-getx-65b56</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-getx-65b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751099778691:ios:e97b8ddb53d715f35c2db6</string>
</dict>
</plist>